.product {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-family: "montserrat";

  &__inner {
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    padding: 20px 0 20px 0;
    @media (max-width: 425px) {
      grid-gap: 0;
      grid-template-columns: auto auto;
    }
  }

  &__btn {
    background-color: $beauty-main-color;
  }
}
