<sector class="beauty">
    <div class="beauty__inner container">
        <div class="beauty__card card">
            <div class="card__foto">
                <img src="../../assets/images/intro/BGPhoto.jpg" class="card__foto-img"/>
            </div>
            <div class="card__info">
                <h2 class="card__title">Хиджама</h2>
                <p class="card__text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Omnis, assumenda accusantium.
                </p>
                <button class="card__button beauty__btn">Узнать больше</button>
                <div class="card__popup"></div>
            </div>
        </div>
        <div class="beauty__card card">
            <div class="card__foto">
                <img src="../../assets/images/intro/BGPhoto.jpg" class="card__foto-img"/>
            </div>
            <div class="card__info">
                <h2 class="card__title">Хиджама</h2>
                <p class="card__text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Omnis, assumenda accusantium.
                </p>
                <button class="card__button beauty__btn">Узнать больше</button>
                <div class="card__popup"></div>
            </div>
        </div>
        <div class="beauty__card card">
            <div class="card__foto">
                <img src="../../assets/images/intro/BGPhoto.jpg" class="card__foto-img"/>
            </div>
            <div class="card__info">
                <h2 class="card__title">Хиджама</h2>
                <p class="card__text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Omnis, assumenda accusantium.
                </p>
                <button class="card__button beauty__btn">Узнать больше</button>
                <div class="card__popup"></div>
            </div>
        </div>
        <div class="beauty__card card">
            <div class="card__foto">
                <img src="../../assets/images/intro/BGPhoto.jpg" class="card__foto-img"/>
            </div>
            <div class="card__info">
                <h2 class="card__title">Хиджама</h2>
                <p class="card__text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Omnis, assumenda accusantium.
                </p>
                <button class="card__button beauty__btn">Узнать больше</button>
                <div class="card__popup"></div>
            </div>
        </div>
    </div>
</sector>

<!-- добить блок плюс респонсив -->
