.main {
  width: 100%;
  @media (min-width: 321px) {
  }

  @media (min-width: 425px) {
  }

  @media (min-width: 768px) {
  }

  @media (min-width: 1024px) {
  }

  @media (min-width: 1280px) {
  }
}

.block {
  width: 100%;
  display: block;

  @media (max-width: 1024px) {
    height: 180px;
  }
  @media (max-width: 768px) {
    height: 120px;
  }
  @media (max-width: 425px) {
  }
  @media (max-width: 375px) {
    height: 100px;
  }
  @media (max-width: 320px) {
    height: 90px;
  }

  &__inner {
    font-family: "Scandal Regular";
    font-size: $blockNameFF;
    text-align: center;
    transform: translateY(-20px);
    opacity: 50%;
    padding: 30px;

    @media (max-width: 1024px) {
      font-size: 120px;
    }
    @media (max-width: 768px) {
      font-size: 74px;
    }
    @media (max-width: 425px) {
      font-size: 66px;
    }
    @media (max-width: 375px) {
      font-size: 60px;
    }
    @media (max-width: 320px) {
      font-size: 50px;
    }
  }
}

.card {
  display: flex;
  @include mediaPC(width, 350px);
  @include mediaMob(width, 350px);
  @include mediaPC(height, 500px);
  @include mediaMob(height, 500px);
  flex-direction: column;
  border-radius: 10px;
  background-color: beige;
  overflow: hidden;
  flex-wrap: wrap;
  justify-content: flex-start;
  @include mediaPC(padding-top, 10px);
  @include mediaMob(padding-top, 10px);

  //   &__foto {
  //     position: relative;
  //     width: 100%;
  //     height: 35%;
  //     overflow: hidden;
  //   }

  //   &__foto-img {
  //     width: 100%;
  //     height: auto;
  //   }

  &__info {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__title {
    @include mediaPC(height, 220px);
    @include mediaMob(height, 220px);
    text-align: center;
    @include mediaPC(font-size, 35px);
    @include mediaMob(font-size, 35px);
    @include mediaPC(padding, 15px);
    @include mediaMob(padding, 15px);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__text {
    width: 100%;
    height: 100%;
    @include mediaPC(font-size, 20px);
    @include mediaMob(font-size, 20px);
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    @include mediaPC(padding, 20px);
    @include mediaMob(padding, 20px);
  }
  &__price {
    font-weight: bold;
    @include mediaPC(font-size, 25px);
    @include mediaMob(font-size, 25px);
    @include mediaPC(margin, 15px);
    @include mediaMob(margin, 15px);
    align-self: center;
  }

  &__button {
    font-family: "montserrat";
    font-weight: bold;
    @include mediaPC(font-size, 20px);
    @include mediaMob(font-size, 20px);
    color: rgb(35, 25, 25);
    border-radius: 25px;
    @include mediaPC(padding, 13px);
    @include mediaMob(padding, 13px);
    @include mediaPC(margin, 20px);
    @include mediaMob(margin, 20px);
    @include mediaPC(width, 200px);
    @include mediaMob(width, 200px);
    align-self: center;
  }
}

.card {
  @include mediaPC(margin, 10px);
  @include mediaMob(margin, 10px);
}

.product .card {
  background-color: rgb(245, 220, 220);

  .card__button {
    background-color: rgb(244 165 165);
  }
}
