<footer class="about">
    <div class="about__inner container">
        <div class="about__aboutMe">
            <img src="../../assets/images/footer/mari.jpg" class="about__img">
        </div>
        <div class="about__gallery-wrapp">
            <div id="galleryCert">
                <div class="about__cert">
                    <img src="../../assets/images/about/Certificado-Universitario-Internacional-DQ.webp" alt="" class="about__cert-img">
                </div>
                <div class="about__cert">
                    <img src="../../assets/images/about/Certificado-Universitario-Internacional-DQ.webp" alt="" class="about__cert-img">
                </div>
                <div class="about__cert">
                    <img src="../../assets/images/about/Certificado-Universitario-Internacional-DQ.webp" alt="" class="about__cert-img">
                </div>
                <div class="about__cert">
                    <img src="../../assets/images/about/Certificado-Universitario-Internacional-DQ.webp" alt="" class="about__cert-img">
                </div>
                <div class="about__cert">
                    <img src="../../assets/images/about/Certificado-Universitario-Internacional-DQ.webp" alt="" class="about__cert-img">
                </div>
                <div class="about__cert">
                    <img src="../../assets/images/about/Certificado-Universitario-Internacional-DQ.webp" alt="" class="about__cert-img">
                </div>
                <div class="about__cert">
                    <img src="../../assets/images/about/Certificado-Universitario-Internacional-DQ.webp" alt="" class="about__cert-img">
                </div>
                <div class="about__cert">
                    <img src="../../assets/images/about/Certificado-Universitario-Internacional-DQ.webp" alt="" class="about__cert-img">
                </div>
                <div class="about__cert">
                    <img src="../../assets/images/about/Certificado-Universitario-Internacional-DQ.webp" alt="" class="about__cert-img">
                </div>
                <div class="about__cert">
                    <img src="../../assets/images/about/Certificado-Universitario-Internacional-DQ.webp" alt="" class="about__cert-img">
                </div>
            </div>
        </div>
        <!-- <ul class="about__social">
            <li class="about__social-items">
                <div class="about__social-logo">
                    <img src="../../assets/images/icons/whatsapp.svg" alt="">
                </div>
                <div class="about__social-link">QuePasa</div>
            </li>
            <li class="about__social-items">
                <div class="about__social-logo">
                    <img src="../../assets/images/icons/instagram.svg" alt="">
                </div>
                <div class="about__social-link">Instagram</div>
            </li>
            <li class="about__social-items">
                <div class="about__social-logo">
                    <img src="../../assets/images/icons/facebook.svg" alt="">
                </div>
                <div class="about__social-link">CaraLibro</div>
            </li>
        </ul> -->
    </div>
</footer>