.header {
  position: fixed;
  width: 100%;
  background-color: rgb(35, 25, 25);
  z-index: 10;

  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    @include mediaPC(height, 133px);
    @include mediaMob(height, 133px);
    font-family: "montserrat";

    @media (max-width: 425px) {
      padding: 0;
    }
  }

  &__logo {
    height: 100%;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    filter: invert(100%);
  }

  &__logo-img {
    @include mediaPC(width, 200px);
    @include mediaMob(width, 200px);
  }

  &__menu {
    width: 100%;

    @media (max-width: 425px) {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      background-color: rgb(35, 25, 25);
      transition: all linear 0.5s;
      padding-top: 70px;
    }
  }

  &__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    @include mediaPC(padding-left, 500px);

    @media (max-width: 425px) {
      flex-direction: column;
      padding-left: 0px;
    }
  }

  &__link-wrapper {
    @include mediaAll(padding, 5px);
    @include mediaPC(margin-right, 50px);
    @media (max-width: 425px) {
      margin-right: 0px;
    }
  }

  &__link {
    @include mediaPC(font-size, 20px);
    @include mediaMob(font-size, 20px);
    font-weight: 600;
    color: $navColor;
  }
}

.hamburger {
  display: none !important;
  position: absolute;
  //   width: 40px !important;
  //   height: 24px !important;
  padding: 0 !important;
  z-index: 11;
  @include mediaMob(width, 80px);
  @include mediaMob(height, 48px);
  @include mediaMob(left, 46px);
  @include mediaMob(top, 46px);

  @media (max-width: 425px) {
    display: flex !important;
  }
}

.hamburger-box {
  width: 100% !important;
  height: 100% !important;
}

.hamburger-inner {
  background-color: rgb(255, 255, 255) !important;
}

.hamburger-inner::after {
  background-color: rgb(255, 255, 255) !important;
}

.hamburger-inner::before {
  background-color: rgb(255, 255, 255) !important;
}

.is-active {
  display: flex;
  height: auto;
  padding-bottom: 10px;
}
