<header class="header">
  <button class="hamburger hamburger--collapse" type="button">
    <span class="hamburger-box">
      <span class="hamburger-inner"></span>
    </span>
  </button>
  <script>
    const hamburger = document.querySelector(".hamburger");
    hamburger.addEventListener("click", function () {
      hamburger.classList.toggle("is-active");
      let menu = document.querySelector(".header__menu");
      menu.classList.toggle("is-active");
    });
  </script>

  <div class="header__inner container">
    <a class="header__logo" href="#home">
      <img
        class="header__logo-img"
        src="../../assets/images/header/logoClear-transformed.png"
        alt=""
      />
    </a>

    <nav class="header__menu">
      <ul class="header__list">
        <li class="header__link-wrapper">
          <a class="header__link" href="#home">ДОМОЙ</a>
        </li>
        <li class="header__link-wrapper">
          <a class="header__link" href="#servise">СЕРВИС</a>
        </li>
        <li class="header__link-wrapper">
          <a class="header__link" href="#beauty">ПРОДУКТЫ</a>
        </li>
        <li class="header__link-wrapper">
          <a class="header__link" href="#about">О НАС</a>
        </li>
        <li class="header__link-wrapper">
          <a class="header__link" href="#">КОНТАКТЫ</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
