<section class="intro">
    <div class="intro__wrapper container">
        <div id="gallery">
            <div class="intro__inner">
                <img src="../../assets/images/intro/1681496485945.jpg" alt="Intro" class="intro__img">
                <p class="intro__text">
                    Хиджама хиджама, <br>
                    Аджарагуджу-джама! <br>
                    ля-ля-ля тополя, <br>это интро! 
                </p>
            </div>
            <div class="intro__inner">
                <img src="../../assets/images/intro/1681496485945.jpg" alt="Intro" class="intro__img">
                <p class="intro__text">
                    Hadjama, hadjama<br>
                    De puta madre! <br>
                    bla bla bla, <br>это интро! 
                </p>
            </div>
            <div class="intro__inner">
                <img src="../../assets/images/intro/1681496485945.jpg" alt="Intro" class="intro__img">
                <p class="intro__text">
                    Хиджама хиджама, <br>
                    Аджарагуджу-джама! <br>
                    ля-ля-ля тополя, <br>это интро! 
                </p>
            </div>
            <div class="intro__inner">
                <img src="../../assets/images/intro/1681496485945.jpg" alt="Intro" class="intro__img">
                <p class="intro__text">
                    Hadjama, hadjama<br>
                    De puta madre! <br>
                    bla bla bla, <br>это интро! 
                </p>
            </div>
            <div class="intro__inner">
                <img src="../../assets/images/intro/1681496485945.jpg" alt="Intro" class="intro__img">
                <p class="intro__text">
                    Хиджама хиджама, <br>
                    Аджарагуджу-джама! <br>
                    ля-ля-ля тополя, <br>это интро! 
                </p>
            </div>
            <div class="intro__inner">
                <img src="../../assets/images/intro/1681496485945.jpg" alt="Intro" class="intro__img">
                <p class="intro__text">
                    Hadjama, hadjama<br>
                    De puta madre! <br>
                    bla bla bla, <br>это интро! 
                </p>
            </div>
        </div>
    </div>
</section>