<section class="intro" id="home">
  <div class="intro__wrapper">
    <div class="intro__inner">
      <img
        src="../../assets/images/intro/1681496485945.jpg"
        alt="Intro"
        class="intro__img"
      />
      <div class="intro__OST-inner">
        <p class="intro__OST">Beauty Hadjama</p>
        <p class="intro__text">
          Красота и здоровье в одном флаконе. Авторская методика хиджама-терапии
          для лица от хаджама Мари. Получи пользу от обученных профессионалов.
          Ставь врачем по сунне.
        </p>
      </div>
    </div>

    <!-- <div id="gallery"> -->
    <!-- <div class="intro__inner container">
        <img
          src="../../assets/images/intro/1681496485945.jpg"
          alt="Intro"
          class="intro__img"
        />
        <p class="intro__text">
          Красота, здоровье <br />
          и уход за Вашей кожей!
        </p>
      </div>
      <div class="intro__inner">
        <img
          src="../../assets/images/intro/1681496485945.jpg"
          alt="Intro"
          class="intro__img"
        />
        <p class="intro__text">
          Авторская методика <br />
          Хиджамы лица <br />
          от Хаджама Мари
        </p>
      </div>
      <div class="intro__inner">
        <img
          src="../../assets/images/intro/1681496485945.jpg"
          alt="Intro"
          class="intro__img"
        />
        <p class="intro__text">
          Обучение Хиджамы<br />
          Стань врачем по Сунне! <br />
          Полный курс
        </p>
      </div>
      <div class="intro__inner">
        <img
          src="../../assets/images/intro/1681496485945.jpg"
          alt="Intro"
          class="intro__img"
        />
        <p class="intro__text">
          Хиджама тела<br />
          Хиджама головы, <br />
          Массаж банками <br />от профессионалов!
        </p>
      </div>
      <div class="intro__inner">
        <img
          src="../../assets/images/intro/1681496485945.jpg"
          alt="Intro"
          class="intro__img"
        />
        <p class="intro__text">
          Хиджама хиджама, <br />
          Аджарагуджу-джама! <br />
          ля-ля-ля тополя, <br />это интро!
        </p>
      </div> -->
    <!-- </div> -->
  </div>
</section>
