.intro {
  width: 100%;
  padding-top: 70px;

  &__wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  &__inner {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    color: $intro-text-color;
    // font-family: "rey";
    // font-family: "DaVinci Regular";
    font-family: "MisterK Regular";
    // font-family: "Scandal Regular";
    // font-family: "Montserrat";
    @include mediaAll(font-size, 120px);
    font-weight: bold;
    line-height: 1.5;
    z-index: 2;
  }

  &__img {
    height: 100%;
    width: 100%;
    background-image: url("../../assets/images/intro/1681496485945.jpg");
    transform: scaleX(-1);
  }

  &__text {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    @include mediaAll(padding, 50px);
    left: 0;
    top: 0;
  }
}
