<footer class="footer">
    <div class="footer__inner container">

        <div class="footer__logo" href="#">
            <img class="footer__logo-img" src="../../assets/images/header/logoClear-transformed.png" alt="">
        </div>
        
        <nav class="footer__menu">
            <ul class="footer__list">
                <li class="footer__link-wrapper">
                    <a class="footer__link" href="#">CASA</a>
                </li>
                <li class="footer__link-wrapper">
                    <a class="footer__link" href="#">DE NOSOTROS</a>
                </li>
                <li class="footer__link-wrapper">
                    <a class="footer__link" href="#">PRODUCTOS</a>
                </li>
                <li class="footer__link-wrapper">
                    <a class="footer__link" href="#">CONTACTOS</a>
                </li>
                <li class="footer__link-wrapper">
                    <a class="footer__link" href="#">MONTACTOS</a>
                </li>
            </ul>
        </nav>
    </div>
</footer>