@font-face {
  font-family: "Torres";
  src: url("../assets/Fonts/Torres-Fonts/Torres-Regular/Torres\ regular.otf"),
    url("../assets/Fonts/Torres-Fonts/Torres-Regular/Torres\ regular.ttf"),
    url("../assets/Fonts/Torres-Fonts/Torres-Regular/Torres\ regular.woff");
}
@font-face {
  font-family: "Rey";
  src: url("../assets/Fonts/Reey/Reey-Regular.otf");
}
@font-face {
  font-family: "DaVinci Regular";
  src: url("../assets/Fonts/ofont.ru_PF\ DaVinci\ Script\ Pro\ Inked.ttf");
}
@font-face {
  font-family: "MisterK Regular";
  src: url("../assets/Fonts/ofont.ru_MisterK\ .ttf");
}
@font-face {
  font-family: "Scandal Regular";
  src: url("../assets/Fonts/ofont.ru_PF\ Scandal\ Pro\ Black.ttf");
}

$navColor: rgb(255, 255, 255);
$intro-text-color: #626154;
$darkColor: rgb(23, 21, 21);
$navFontSize: 70px;
$blockNameFF: 180px;

$health-main-color: #c9e4c9;
$beauty-main-color: #ff9999;
$care-main-color: #669999;

:root {
  --h-h: 1080px;
}

@mixin mediaPC($key, $value) {
  #{$key}: $value;
  @media (max-width: 1440px) {
    #{$key}: $value * 0.75;
  }
  @media (max-width: 1200px) {
    #{$key}: $value * 0.62;
  }
  @media (max-width: 1024px) {
    #{$key}: $value * 0.53;
  }
  @media (max-width: 768px) {
    #{$key}: $value * 0.4;
  }
}

@mixin mediaMob($key, $value) {
  @media (max-width: 425px) {
    #{$key}: $value * 0.53 !important;
  }
  @media (max-width: 390px) {
    #{$key}: $value * 0.49 !important;
  }
  @media (max-width: 375px) {
    #{$key}: $value * 0.47 !important;
  }
  @media (max-width: 320px) {
    #{$key}: $value * 0.4 !important;
  }
}

@mixin mediaAll($key, $value) {
  #{$key}: $value;
  @media (max-width: 1440px) {
    #{$key}: $value * 0.75;
  }
  @media (max-width: 1200px) {
    #{$key}: $value * 0.62;
  }
  @media (max-width: 1024px) {
    #{$key}: $value * 0.53;
  }
  @media (max-width: 768px) {
    #{$key}: $value * 0.4;
  }
  @media (max-width: 425px) {
    #{$key}: $value * 0.22;
  }
  @media (max-width: 390px) {
    #{$key}: $value * 0.2;
  }
  @media (max-width: 375px) {
    #{$key}: $value * 0.19;
  }
  @media (max-width: 320px) {
    #{$key}: $value * 0.17;
  }
}
